<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>CoinView</title>
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
  </head>
  <body>
    <h2>{{title}}</title></h2>

    <div id="chart"></div>

    <div id="trades"></div>

    <form action="" method="post">
    <input type="text" id="quantity" name="quantity" placeholder="eg 0.001"/>
    <select id="symbol" name="symbol">
    <!-- symbols -->
    {% for symbol in symbols %}
     <option> {{symbol['symbol']}}</option>
    {% endfor %}
  </select>
  <input type="submit" name="buy" value="buy">
</form>
    <div id="my_balances">
      <h2>Balances</h2>

    <table>
      {% for balance in my_balances %}
      <tr>
        
        <td>
          {{balance['asset']}}
        </td>
        <td>
          {{balance['asset']}}
        </td>

      </tr>
      {% endfor %}
    </table>

      
      
     
    </div>
    <h3>Settings</h3>
    <div id="settings">
      <div>
        <label>RSI</label>
        <div>
          <input
            type="text"
            id="rsi_length"
            name="rsi_length"
            placeholder="14"
          />
          <input type="checkbox" name="" id="" />
          <label>over bought</label>
          <input
            type="text"
            name="rsi_overbought"
            id="rsi_overbought"
            placeholder="70"
          />
          <label>over sold</label>
          <input
            type="text"
            id="rsi_oversold"
            name="rsi_oversold"
            placeholder="38"
          />
        </div>
      </div>
    </div>

    <script>
      //var binanceSocket = new WebSocket("wss://stream.binance.com:9443/ws/btcusdt@aggTrade");

      var tradeDiv = document.getElementById("trades");

      /*console.log(binanceSocket)
       binanceSocket.onmessage = function (event) {
  console.log(event.data);

  var messageObject=JSON.parse(event.data)
  tradeDiv.append(messageObject.p)

}*/
    </script>
    <script src="{{url_for('static', filename='chart.js')}}"></script>
  </body>
</html>
